<div class="container">

  <mat-toolbar class="myNavbar">
      <span class="example-spacer">Bienvenidos a NutriTEC Nutricionistas</span>
  </mat-toolbar>
  <div class="row">
  <div class="block">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Paula Alpízar</mat-card-title>
      <mat-card-subtitle>Administradora NutriTEC</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://img.freepik.com/foto-gratis/retrato-hermoso-mujer-joven-posicion-pared-gris_231208-10760.jpg?size=338&ext=jpg"
    alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
  </mat-card>
  </div>

  <div class="block">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar ></div>
        <mat-card-title class="titulo">Información Personal</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
        Códidgo de Nutricionista: N0001

        </p>
        <p>
          Cédula: 307760989
        </p>
        <p>
          Dirección: Santo Domingo
        </p>
      </mat-card-content>
    </mat-card>
    </div>

</div>
