<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6f021f3e-e6b9-4ba3-a033-92091f29765b/resourceGroups/Bases-Datos/providers/Microsoft.Web/sites/NutriTecAPI</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nutritecapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>22830a6d-7a84-4430-914e-495bd9ac53a8</ProjectGuid>
    <PublishUrl>https://nutritecapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$NutriTecAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>