<body>    
<mat-toolbar class="tolbar">
    <h1>Registro de Nutricionistas</h1>
</mat-toolbar>

<mat-card class="registroCard">
    <mat-grid-list cols="4" rowHeight="50px">
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-form-field appearance="fill">
                <mat-label>Primer Nombre</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-form-field appearance="fill">
                <mat-label>Segundo Nombre</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-form-field appearance="fill">
                <mat-label>Primer Apellido</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-form-field appearance="fill">
                <mat-label> Segundo Apellido</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-form-field appearance="fill">
                <mat-label>Cedula</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-form-field appearance="fill">
                <mat-label>Codigo de Nutricionista</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-form-field appearance="fill">
                <mat-label>Direccion</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-grid-tile>
        
    </mat-grid-list>
</mat-card>

</body>
