table {
    width: 100%;
    margin-top: 10px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 090%;
  }

  .example-spacer {
    flex: 1 1 auto;
   }

.container {
    WIDTH: 80%;
    MARGIN: AUTO;
}

.myNavbar {
  background: yellowgreen;
  color: white;
  margin-top: 10px;
}

button{
  background-color: tomato;
  margin-top: 10px;
  margin: 10px;
}

.esperaButton{
  background-color: rgb(253, 253, 253);
}
