.registroCard{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  background: burlywood;
}

.tolbar {
  background: burlywood;
  color:beige;
}

body{
  background-image: url(https://image.freepik.com/foto-gratis/diferentes-frutas-maduras-jugosas-enteras-aislado-piso-blanco_179666-420.jpg);
}
