.ancho{
  width: 80%;
}

.container {
  WIDTH: 80%;
  MARGIN: AUTO;
}

.myNavbar {
  background: yellowgreen;
  color: white;
  margin-top: 10px;
}

button{
  background-color: tomato;
  margin-top: 10px;
  margin: 10px;
  color: white;
}
