<mat-toolbar class="myNavbar">
  <img class="logo-pop" src="../../../../assets/img/fruits.png">
    <span>NutriTEC Nutricionistas</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/home/productos">Productos</button>
    <button mat-button routerLink="/home/planes">Planes</button>
    <button mat-button routerLink="/home/paciente/asociacion">Pacientes</button>
    <button mat-icon-button>
      <mat-icon routerLink="/home/inicio" >home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/registro">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
