body{
    width: auto;
    margin: 0;
  padding: 0;
  min-height: 100vh;
  max-height: 500%;

}

.info-container{

    margin-top: 30px;
    flex-direction: column;
}

.button-container{
    position: absolute;
    margin-top: -80px;
    margin-left: 380px;
}

.textarea {
    width: 350px;
    margin-left: 20px;
}

.navBut{
  background-color: tomato;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
 }

.titulo{
  color: tomato;
  margin-top: 10px;
}

.myNavbar {
  background: yellowgreen;
  color: white;
  margin-top: 10px;
}

button{
  background-color: tomato;
  margin-top: 10px;
  margin: 10px;
  color: white;
}
