<mat-toolbar class="myNavbar">
    <img class="logo-pop" src="../../../../assets/img/fruits (1).png">
    <span>  NutriTEC Administradores</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/home/productos">Productos</button>
    <button mat-button routerLink="/home/productos">Reporte de Cobre</button>
    <button mat-icon-button>
      <mat-icon routerLink="/home/inicio" >home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/login">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
