<div class="container">

<mat-toolbar class="myNavbar">
    <span class="example-spacer">Planes de Alimentacion</span>
    <button mat-button routerLink="/home/planes/crear-plan">CREAR PLAN</button>
    <button mat-button routerLink="/home/paciente/asignacion">ASIGNAR PLAN</button>
</mat-toolbar>

<mat-form-field appearance="standard">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Producto" #input>
</mat-form-field>


<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre del Plan </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="desayuno">
    <th mat-header-cell *matHeaderCellDef>Desayuno</th>
    <td mat-cell *matCellDef="let element"> {{element.desayuno}} </td>
  </ng-container>

  <ng-container matColumnDef="merienda_manana">
    <th mat-header-cell *matHeaderCellDef> Merienda Mañana</th>
    <td mat-cell *matCellDef="let element"> {{element.merienda_manana}} </td>
  </ng-container>

  <ng-container matColumnDef="almuerzo">
    <th mat-header-cell *matHeaderCellDef> Almuerzo </th>
    <td mat-cell *matCellDef="let element"> {{element.almuerzo}} </td>
  </ng-container>

  <ng-container matColumnDef="merienda_tarde">
    <th mat-header-cell *matHeaderCellDef> Merienda Tarde</th>
    <td mat-cell *matCellDef="let element"> {{element.merienda_tarde}} </td>
  </ng-container>

  <ng-container matColumnDef="cena">
    <th mat-header-cell *matHeaderCellDef>Cena</th>
    <td mat-cell *matCellDef="let element"> {{element.cena}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>

</div>
