.tolbar{
    background: beige;
    margin-top: 10px;
    color:forestgreen;
}

.example-spacer {
    flex: 1 1 auto;
 }

 table {
  width: 100%;
  margin-top: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.sectionTitle{
  margin-top: 10px;
  color: slateblue;
}

.myNavbar {
  background: yellowgreen;
  color: white;
  margin-top: 10px;
}

button{
  background-color: tomato;
  margin-top: 10px;
  margin: 10px;
}

.example-spacer {
  flex: 1 1 auto;
 }

 .container {
  WIDTH: 80%;
  MARGIN: AUTO;
}
