<div class="container">
  <mat-toolbar class="sectionTitle">
      <span>{{titulo}}</span>
  </mat-toolbar>


  <div class="row">
  <div class="block">
  <mat-form-field appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Producto" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="codigo_de_barras">
            <th mat-header-cell *matHeaderCellDef> Código de Barras </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo_de_barras}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
              <button (click)="desayuno(element.codigo_de_barras, element.descripcion)" mat-button>D</button>
              <button (click)="merienda1(element.codigo_de_barras,  element.descripcion)" mat-button>M</button>
              <button (click)="almuerzo(element.codigo_de_barras,  element.descripcion)" mat-button>A</button>
              <button (click)="merienda2(element.codigo_de_barras,  element.descripcion)" mat-button>M</button>
              <button (click)="cena(element.codigo_de_barras,  element.descripcion)" mat-button>C</button>
            </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  </div>
  </div>
  <div class="block2">
  <form [formGroup]="form" (ngSubmit)="agregarPlan()">
    <mat-grid-list cols="4" rowHeight="100px">

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field class="ancho">
                <mat-label>Desayuno</mat-label>
                <input matInput autocomplete="off" formControlName="desayuno">
              </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field class="ancho">
                <mat-label>Merienda Mañana</mat-label>
                <input matInput autocomplete="off" formControlName="merienda_m">
              </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field class="ancho">
                <mat-label>Almuerzo</mat-label>
                <input matInput autocomplete="off" formControlName="almuerzo">
              </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="ancho">
              <mat-label>Merienda Tarde</mat-label>
              <input matInput autocomplete="off" formControlName="merienda_t">
            </mat-form-field>
      </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field class="ancho">
                <mat-label>Cena</mat-label>
                <input matInput autocomplete="off" formControlName="cena">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="ancho">
              <mat-label>Nombre del Plan</mat-label>
              <input matInput autocomplete="off" formControlName="nombre">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button  type="submit" [disabled]="form.invalid" mat-raised-button color="primary">GUARDAR</button>
            <button  routerLink="/home/productos" mat-raised-button>VOLVER</button>
        </mat-grid-tile>
    </mat-grid-list>
</form>
</div>
</div>

</div>
