body {
    margin: 0;
    padding: 0;
    background-color: rgb(200, 233, 134);
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: auto;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  #login .container #login-row #login-column #login-box #login-form #register-link{
    padding: 30px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  #logo{
      width: 40%;
      height: 40%;
  }
  .btn{
      margin-left: 30%;
  }
